/* stylelint-disable value-no-vendor-prefix */
:root {
  --primary: #3f51b5;
  --success: #008000;
  --error: #f44336;
  --white: #fff;
  --gray: #eee;
  --gray-border: rgb(0 0 0 / 12%);
}

html {
  height: -webkit-fill-available;
}

body {
  margin: 0;
  min-height: -webkit-fill-available;
}

.right-align {
  flex-grow: 1;
}

.strikethrough {
  text-decoration: line-through;
}

.error {
  color: var(--error);
}

.mat-mdc-header-row,
.mat-mdc-row {
  padding-left: 0;
  padding-right: 0;
}

.mat-mdc-header-cell,
.mat-mdc-cell {
  padding-left: 8px !important;
  padding-right: 8px !important;
}

.mdc-form-field > label {
  cursor: pointer;
}

.slide-toggle-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 16px 16px 0;
}

.mat-mdc-slide-toggle {
  margin: 0 8px 16px;
}

.name-filter > * {
  .mat-mdc-form-field-hint-wrapper {
    justify-content: center;
  }

  .mat-mdc-form-field-hint-spacer {
    flex: none;
  }
}

.mat-mdc-dialog-content {
  color: black !important;
}

.mat-mdc-card-header {
  align-self: center;
}

.mat-mdc-card-actions {
  justify-content: center;
  padding-bottom: 16px !important;
}
