// You can add global styles to this file, and also import other style files

body {
  margin: 0;
}

.right-align {
  flex-grow: 1;
}

.strikethrough {
  text-decoration: line-through;
}

.fx-flex {
  box-sizing: border-box;
  flex: 1 1 100%;
}

.fx-flex-38 {
  min-width: 38px;
}

.mat-tab-body-wrapper {
  overflow: visible !important;
}

.mat-tab-body-active {
  overflow: visible !important;
}

.mat-tab-body-content {
  overflow: visible !important;
}

.mat-sort-header-button {
  margin: 0;
  text-align: left;
}

.mat-sort-header-arrow {
  margin: 0 !important;
}
