<div class="page-header">
    <h1>Teams</h1>
</div>

<div class="team" ng-repeat="team in teamsCtrl.teams">
    <div ng-hide="teamsCtrl.isEditForm[$index]">
        <a ui-sref="root.admin.players({teamId: team.id})">{{team.name}} ({{team.abbr}})</a>
        <button ng-click="teamsCtrl.isEditForm[$index] = true;" class="btn btn-xs btn-info">Edit</button>
        <button ng-click="teamsCtrl.deleteTeam(team.id)" class="btn btn-xs btn-danger">Delete</button>
    </div>
    <div ng-show="teamsCtrl.isEditForm[$index]">
        <form class="form-horizontal" ng-submit="teamsCtrl.updateTeam(team, $index)">
            <label for="name" class="col-sm-1 control-label">Name</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="name" ng-model="team.name">
            </div>
            <label for="abbr" class="col-sm-1 control-label">Abbr</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="abbr" ng-model="team.abbr">
            </div>
            <div class="form-actions">
                <input type="submit" class="btn btn-info" value="Update">
                <a ng-click="teamsCtrl.isEditForm[$index] = false;" class="btn btn-danger">Cancel</a>
            </div>
        </form>
    </div>
</div>

<div class="create-team">
    <div ng-hide="teamsCtrl.isCreateForm">
        <button ng-click="teamsCtrl.isCreateForm = true;" class="btn btn-info">Create Team</button>
    </div>
    <div ng-show="teamsCtrl.isCreateForm">
        <form class="form-horizontal" ng-submit="teamsCtrl.createTeam()">
            <label for="name" class="col-sm-1 control-label">Name</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="name" placeholder="Name" ng-model="teamsCtrl.name">
            </div>
            <label for="abbr" class="col-sm-1 control-label">Abbr</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="abbr" placeholder="Abbr" ng-model="teamsCtrl.abbr">
            </div>
            <div class="form-actions">
                <input type="submit" class="btn btn-info" value="Create">
                <a ng-click="teamsCtrl.isCreateForm = false;" class="btn btn-danger">Cancel</a>
            </div>
        </form>
    </div>
</div>