<mat-spinner *ngIf="loading"></mat-spinner>
<div *ngIf="!loading">
  <div class="slide-toggle-container">
    <mat-slide-toggle color="primary" [(ngModel)]="showingEliminated" (change)="updateShown()">
      Show Eliminated
    </mat-slide-toggle>
    <mat-slide-toggle color="primary" [(ngModel)]="showingSelected" (change)="updateShown()">
      Show Selected
    </mat-slide-toggle>
  </div>
  <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center" animationDuration="0ms">
    <mat-tab label="Skaters">
      <player-stats-tab
        [players]="shownSkaters"
        [isFinals]="isFinals"
        [columnsToDisplay]="skaterColumnsToDisplay"
        [tiebreakers]="utilService.skaterTiebreakers"
        [playerStatColumns]="skaterStatColumns"></player-stats-tab>
    </mat-tab>
    <mat-tab label="Goalies">
      <player-stats-tab
        [players]="shownGoalies"
        [isFinals]="isFinals"
        [columnsToDisplay]="goalieColumnsToDisplay"
        [tiebreakers]="utilService.goalieTiebreakers"
        [playerStatColumns]="goalieStatColumns"></player-stats-tab>
    </mat-tab>
  </mat-tab-group>
</div>
