<div class="table-wrapper">
  <table
    mat-table
    matSort
    matSortActive="points"
    matSortDirection="desc"
    matSortStart="desc"
    class="table"
    [dataSource]="dataSource"
    (matSortChange)="sortChange($event)">
    <ng-container matColumnDef="name" sticky>
      <th *matHeaderCellDef mat-header-cell mat-sort-header class="name-col" start="asc">Name</th>
      <td *matCellDef="let player" mat-cell class="name-col sticky">
        <span [ngClass]="player.team.isEliminated ? 'strikethrough' : ''">
          <span>{{ player.firstName }} {{ player.lastName }} ({{ player.team.abbr }}</span>
          <span *ngIf="player.position !== 'Goalie'">-{{ player.position | slice : 0 : 1 }}</span>
          <span>)</span>
        </span>
      </td>
    </ng-container>
    <ng-container *ngFor="let col of playerStatColumns; trackBy: trackByColStat" [matColumnDef]="col.stat">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>
        <span>{{ col.header }}</span>
        <ng-container *ngFor="let multiplier of multipliersToRounds | keyvalue; trackBy: trackByMultiplier">
          <span *ngIf="multiplier.key > 1">&nbsp;(x{{ multiplier.key }})</span>
        </ng-container>
      </th>
      <td *matCellDef="let player" mat-cell>{{ getPlayerStatCol(player, col.stat) }}</td>
    </ng-container>
    <ng-container matColumnDef="points" stickyEnd>
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Points</th>
      <td *matCellDef="let player" mat-cell class="sticky">{{ player.points ?? 0 }}</td>
    </ng-container>

    <tr *matHeaderRowDef="columnsToDisplay; sticky: true" mat-header-row></tr>
    <tr *matRowDef="let player; columns: columnsToDisplay" mat-row></tr>
  </table>
</div>
