<div class="table-wrapper">
  <table
    mat-table
    matSort
    matSortActive="points"
    matSortDirection="desc"
    matSortStart="desc"
    class="table"
    [dataSource]="dataSource"
    (matSortChange)="sortChange($event)">
    <ng-container matColumnDef="name" sticky>
      <th *matHeaderCellDef mat-header-cell mat-sort-header class="name-col" start="asc">Name</th>
      <td *matCellDef="let player" mat-cell class="name-col sticky">
        <span [ngClass]="player.team.isEliminated ? 'strikethrough' : ''">
          {{ player.firstName }}
          @if (player.position !== 'Goalie') {
            {{ player.lastName }} ({{ player.team.abbr }}-{{ player.position | slice: 0 : 1 }})
          }
        </span>
      </td>
    </ng-container>
    @for (col of playerStatColumns; track col.stat) {
      <ng-container [matColumnDef]="col.stat">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>
          {{ col.header }}
          @for (multiplier of multipliersToRounds | keyvalue; track multiplier.key) {
            @if (multiplier.key > 1) {
              (x{{ multiplier.key }})
            }
          }
        </th>
        <td *matCellDef="let player" mat-cell>{{ getPlayerStatCol(player, col.stat) }}</td>
      </ng-container>
    }
    <ng-container matColumnDef="points" stickyEnd>
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Points</th>
      <td *matCellDef="let player" mat-cell class="sticky">{{ player.points ?? 0 }}</td>
    </ng-container>

    <tr *matHeaderRowDef="columnsToDisplay; sticky: true" mat-header-row></tr>
    <tr *matRowDef="let player; columns: columnsToDisplay" mat-row></tr>
  </table>
</div>
