<ng-container matColumnDef>
  <mat-header-cell
    class="fx-flex"
    [ngStyle.xs]="{ 'min-width': data.colWidth + 'px' }"
    [ngStyle.gt-xs]="{ 'min-width': (isFinals ? data.finalsColWidthGtXs : data.colWidth) + 'px' }"
    mat-sort-header
    *matHeaderCellDef>
    <span
      [ngStyle.xs]="{ width: data.textWidth + 'px', 'text-align': isFinals ? 'center' : 'left' }"
      [ngStyle.gt-xs]="{ width: (isFinals ? data.finalsTextWidthGtXs : data.textWidth) + 'px' }">
      {{ data.header }}
      <ng-container *ngIf="isFinals">(x2)</ng-container>
    </span>
  </mat-header-cell>
  <mat-cell
    class="fx-flex"
    [ngStyle.xs]="{ 'min-width': data.colWidth + 'px' }"
    [ngStyle.gt-xs]="{ 'min-width': (isFinals ? data.finalsColWidthGtXs : data.colWidth) + 'px' }"
    *matCellDef="let player">
    {{ player[data.stat] ?? 0 }}
    <ng-container *ngIf="player.team.inFinals">({{ getFinalsStat(player) ?? 0 }})</ng-container>
  </mat-cell>
</ng-container>
