.header {
  display: flex;
  margin: 16px;
}

.accordion-container {
  margin: 0 16px 16px;
}

.expansion-panel {
  border-color: var(--gray-border);
  border-radius: 0 !important;
  border-style: solid;
  border-width: 0 0 1px;
  box-shadow: none !important;
}

.expansion-panel-header {
  padding: 0 16px;

  &:hover {
    background: var(--gray) !important;
  }
}

.expansion-panel-body {
  padding-top: 16px;
}

.mat-mdc-form-field {
  padding-right: 16px;
}

.abbr-input {
  width: 135px;
}

.conference-input {
  width: 125px;
}

.mat-mdc-checkbox {
  padding-right: 16px;
}

.player-name-input {
  width: 150px;
}

.position-input {
  width: 105px;
}

.number-input {
  width: 95px;
}

.primary-button {
  margin-bottom: 10px;
  top: -5px;
}

.form-submit-status {
  display: inline-flex;
  padding-left: 10px;
}

.form-spinner {
  display: inline-flex;
}

.check-icon {
  color: var(--success);
}
