<md-spinner *ngIf="loading"></md-spinner>
<div *ngIf="!loading">
  <div class="container slide-toggle-container">
    <md-slide-toggle class="pull-right"
                     [color]="'primary'"
                     [(ngModel)]="showingAllEntries"
                     (change)="toggleAllPanels()">
      Show Players for All Entries
    </md-slide-toggle>
    <md-slide-toggle class="pull-right"
                     [color]="'primary'"
                     [(ngModel)]="showingEliminatedTeams">
      Show Eliminated Players
    </md-slide-toggle>
  </div>
  <div class="container homepage-table-heading">
    <div class="col-xs-3">
        Entry Name
    </div>
    <div class="col-xs-9">
      <div class="col-xs-2">
        <span class="visible-md-block visible-lg-block">Points</span>
        <span class="visible-xs-block visible-sm-block">Pts</span>
      </div>
      <div class="col-xs-2">
        <span class="visible-md-block visible-lg-block">Points-C</span>
        <span class="visible-xs-block visible-sm-block">Pts-C</span>
      </div>
      <div class="col-xs-2">
        <span class="visible-md-block visible-lg-block">Points-W</span>
        <span class="visible-xs-block visible-sm-block">Pts-W</span>
      </div>
      <div class="col-xs-2">
        <span class="visible-md-block visible-lg-block">Points-D</span>
        <span class="visible-xs-block visible-sm-block">Pts-D</span>
      </div>
      <div class="col-xs-2">
        <span class="visible-md-block visible-lg-block">Points-G</span>
        <span class="visible-xs-block visible-sm-block">Pts-G</span>
      </div>
      <div class="col-xs-2">
        Total Goals
      </div>
    </div>
  </div>
  <div class="expandable-row" *ngFor="let entry of entries; let i=index">
    <div class="expandable-row-header" (click)="isPanelOpen[i] = !isPanelOpen[i]">
      <div class="col-xs-3">
        <span *ngIf="entry.tiebreaker === 'Tied'">T</span>{{ entry.rank }}. {{ entry.name }}
      </div>
      <div class="col-xs-9">
        <div class="col-xs-2" [style.font-weight]="!entry.tiebreaker ? 'bold' : ''">
          {{ entry.points }}
        </div>
        <div class="col-xs-2" [style.font-weight]="entry.tiebreaker === 'C' ? 'bold' : ''">
          {{ entry.pointsC }}
        </div>
        <div class="col-xs-2" [style.font-weight]="entry.tiebreaker === 'W' ? 'bold' : ''">
          {{ entry.pointsW }}
        </div>
        <div class="col-xs-2" [style.font-weight]="entry.tiebreaker === 'D' ? 'bold' : ''">
          {{ entry.pointsD }}
        </div>
        <div class="col-xs-2" [style.font-weight]="entry.tiebreaker === 'G' ? 'bold' : ''">
          {{ entry.pointsG }}
        </div>
        <div class="col-xs-2" [style.font-weight]="entry.tiebreaker === 'Goals' ? 'bold' : ''">
          {{ entry.totalGoals }}
        </div>
      </div>
    </div>
    <div class="expandable-row-content"
         [@bodyExpansion]="isPanelOpen[i]">
      <div class="container">
        <div *ngFor="let player of entry.players">
          <div *ngIf="!player.team.is_eliminated || showingEliminatedTeams" class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
            <div class="team-name" [style.color]="player.team.is_eliminated ? 'red' : ''">
              {{ player.team.name }}
            </div>
            {{ player.first_name }} {{ player.last_name }} ({{ player.position | slice:0:1 }}) <span class="badge">{{ player.points }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
