<mat-spinner *ngIf="loading"></mat-spinner>
<div *ngIf="!loading">
  <div class="slide-toggle-container">
    <mat-slide-toggle color="primary" [(ngModel)]="showingAllEntries" (change)="toggleAllPanels()">
      Expand Entries
    </mat-slide-toggle>
    <mat-slide-toggle color="primary" [(ngModel)]="showingEliminatedTeams">Show Eliminated</mat-slide-toggle>
  </div>

  <div class="table-wrapper">
    <table mat-table [dataSource]="tableData">
      <ng-container matColumnDef="name" sticky>
        <th *matHeaderCellDef mat-header-cell>Entry Name</th>
        <td *matCellDef="let entry" mat-cell>
          <div>
            <span *ngIf="entry.tiebreaker === 6">T</span>
            <span *ngIf="!entry.bestEntry">{{ entry.rank }}.</span>
            {{ entry.name }}
          </div>
        </td>
      </ng-container>
      <ng-container matColumnDef="points" sticky>
        <th *matHeaderCellDef mat-header-cell>
          <span>Points</span>
        </th>
        <td *matCellDef="let entry" mat-cell [ngClass]="entry.tiebreaker === 0 ? 'bold-text' : ''">
          {{ entry.points }}
        </td>
      </ng-container>
      <ng-container matColumnDef="pointsC">
        <th *matHeaderCellDef mat-header-cell>
          <span>Points-C</span>
        </th>
        <td *matCellDef="let entry" mat-cell [ngClass]="entry.tiebreaker === 1 ? 'bold-text' : ''">
          {{ entry.pointsC }}
        </td>
      </ng-container>
      <ng-container matColumnDef="pointsW">
        <th *matHeaderCellDef mat-header-cell>
          <span>Points-W</span>
        </th>
        <td *matCellDef="let entry" mat-cell [ngClass]="entry.tiebreaker === 2 ? 'bold-text' : ''">
          {{ entry.pointsW }}
        </td>
      </ng-container>
      <ng-container matColumnDef="pointsD">
        <th *matHeaderCellDef mat-header-cell>
          <span>Points-D</span>
        </th>
        <td *matCellDef="let entry" mat-cell [ngClass]="entry.tiebreaker === 3 ? 'bold-text' : ''">
          {{ entry.pointsD }}
        </td>
      </ng-container>
      <ng-container matColumnDef="pointsG">
        <th *matHeaderCellDef mat-header-cell>
          <span>Points-G</span>
        </th>
        <td *matCellDef="let entry" mat-cell [ngClass]="entry.tiebreaker === 4 ? 'bold-text' : ''">
          {{ entry.pointsG }}
        </td>
      </ng-container>
      <ng-container matColumnDef="totalGoals">
        <th *matHeaderCellDef mat-header-cell>
          <span>Total Goals</span>
        </th>
        <td *matCellDef="let entry" mat-cell [ngClass]="entry.tiebreaker === 5 ? 'bold-text' : ''">
          {{ entry.totalGoals }}
        </td>
      </ng-container>

      <ng-container matColumnDef="playerDetails">
        <td
          *matCellDef="let entry"
          mat-cell
          [attr.colspan]="7"
          [ngClass]="isExpanded(entry) ? 'expanded' : 'collapsed'">
          <div class="expansion-row-content" [@detailExpand]="isExpanded(entry) ? 'expanded' : 'collapsed'">
            <div *ngFor="let team of teams; trackBy: trackByTeamAbbr">
              <ng-template
                #t
                let-player
                [ngTemplateOutlet]="t"
                [ngTemplateOutletContext]="{ $implicit: getSelectedPlayerForTeam(entry.playerIds, team) }">
                <div class="team-player-wrapper" [ngClass]="{ hidden: team.isEliminated && !showingEliminatedTeams }">
                  <img class="team-logo" [alt]="team.name + ' logo'" [src]="getLogoUrl(team)" />
                  <div class="player-wrapper">
                    <div class="player-name" [ngClass]="team.isEliminated ? 'strikethrough' : ''">
                      <span *ngIf="player.position === 'Goalie'">{{ team.abbr }} Goalies</span>
                      <span *ngIf="player.position !== 'Goalie'">
                        {{ player.firstName }} {{ player.lastName }} ({{ player.position | slice : 0 : 1 }})
                      </span>
                    </div>
                    <div class="badge">{{ player.points ?? 0 }}</div>
                  </div>
                </div>
              </ng-template>
            </div>
          </div>
        </td>
      </ng-container>

      <tr *matHeaderRowDef="columnsToDisplay; sticky: true" mat-header-row></tr>
      <tr
        *matRowDef="let entry; columns: columnsToDisplay"
        mat-row
        matRipple
        class="entry-row"
        [class.best-entry]="entry.bestEntry"
        [class.expanded]="isExpanded(entry)"
        (click)="toggleExpansion(entry.name)"></tr>
      <tr
        *matRowDef="let entry; columns: ['playerDetails']; when: isExpansionDetailRow"
        mat-row
        class="expansion-row"></tr>
    </table>
  </div>
</div>
