.mat-mdc-raised-button {
  margin-bottom: 16px;
}

.table-wrapper {
  height: calc(100vh - 117px);
  overflow: auto;
}

.bold-text {
  font-weight: bold;
}

.entry-row {
  cursor: pointer;
  position: relative;

  &.best-entry {
    background: lightgray;
  }

  &:hover {
    background: var(--gray) !important;
  }
}

.expansion-row {
  height: 0;
}

.expansion-row-content {
  display: flex;
  flex-wrap: wrap;
  width: calc(100vw - 16px);
  padding-top: 8px;
  padding-bottom: 8px;
}

.team-player-wrapper {
  display: flex;
  width: 250px;
  padding: 1px 0;

  &.hidden {
    display: none;
  }
}

.team-logo {
  height: 20px;
}

.player-wrapper {
  display: flex;
}

.player-name {
  padding: 2px 4px 2px 0;
}

.badge {
  background-color: var(--primary);
  border-radius: 10px;
  color: var(--white);
  padding: 2px 5px;
}
