@if (authForm) {
  <mat-card appearance="outlined" class="mat-typography">
    <mat-card-header>
      <mat-card-title>{{ authTypeCapital }}</mat-card-title>
    </mat-card-header>
    <form [formGroup]="authForm" (ngSubmit)="submitForm()">
      <mat-card-content>
        <display-errors [errors]="errors" />
        <br />
        <mat-form-field>
          <input matInput formControlName="email" placeholder="Email" type="email" />
        </mat-form-field>
        <br />
        <mat-form-field [color]="getFormColor()">
          <input matInput formControlName="password" placeholder="Password" type="password" />
          @if (errorMessage) {
            <mat-hint class="error">{{ errorMessage }}</mat-hint>
          }
        </mat-form-field>
        <br />
        @if (authType === 'register') {
          <mat-form-field [color]="getFormColor()">
            <input matInput formControlName="passwordConfirmation" placeholder="Confirm Password" type="password" />
            @if (errorMessage) {
              <mat-hint class="error">{{ errorMessage }}</mat-hint>
            }
          </mat-form-field>
        }
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit">{{ authTypeCapital }}</button>
      </mat-card-actions>
    </form>
  </mat-card>
}
