<mat-card>
  <mat-card-title>{{ authTypeCapital }}</mat-card-title>
  <display-errors [errors]="errors"></display-errors>
  <form [formGroup]="authForm" (ngSubmit)="submitForm()">
    <mat-card-content>
      <br>
      <mat-form-field>
        <input
          matInput
          formControlName="email"
          placeholder="Email"
          type="email" />
      </mat-form-field>
      <br>
      <mat-form-field color="{{ error_message ? 'warn' : 'primary' }}">
        <input
          matInput
          formControlName="password"
          placeholder="Password"
          type="password" />
        <mat-hint *ngIf="error_message" [ngStyle]="{'color': '#f44336'}">{{ error_message }}</mat-hint>
      </mat-form-field>
      <br>
      <mat-form-field
        color="{{ error_message ? 'warn' : 'primary' }}"
        *ngIf="authType === 'register'">
        <input
          matInput
          formControlName="password_confirmation"
          placeholder="Confirm Password"
          type="password" />
        <mat-hint *ngIf="error_message" [ngStyle]="{'color': '#f44336'}">{{ error_message }}</mat-hint>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">{{ authTypeCapital }}</button>
    </mat-card-actions>
  </form>
</mat-card>
