<md-card>
  <md-card-title>{{ authTypeCapital }}</md-card-title>
  <display-errors [errors]="errors"></display-errors>
  <form [formGroup]="authForm" (ngSubmit)="submitForm()">
    <md-card-content>
      <br>
      <md-input-container>
        <input
          mdInput
          formControlName="email"
          placeholder="Email"
          type="email" />
      </md-input-container>
      <br>
      <md-input-container dividerColor="{{ error_message ? 'warn' : 'primary' }}">
        <input
          mdInput
          formControlName="password"
          placeholder="Password"
          type="password" />
        <md-hint *ngIf="error_message" [ngStyle]="{'color': '#f44336'}">{{ error_message }}</md-hint>
      </md-input-container>
      <br>
      <md-input-container
        dividerColor="{{ error_message ? 'warn' : 'primary' }}"
        *ngIf="authType === 'register'">
        <input
          mdInput
          formControlName="password_confirmation"
          placeholder="Confirm Password"
          type="password" />
        <md-hint *ngIf="error_message" [ngStyle]="{'color': '#f44336'}">{{ error_message }}</md-hint>
      </md-input-container>
    </md-card-content>
    <md-card-actions>
      <button md-raised-button color="primary" type="submit">{{ authTypeCapital }}</button>
    </md-card-actions>
  </form>
</md-card>
