<div class="container show-all-btn">
    <button ng-if="!homeCtrl.showingAll" ng-click="homeCtrl.showAll(true)" class="btn btn-info pull-right">Show Players for All Entries</button>
    <button ng-if="homeCtrl.showingAll" ng-click="homeCtrl.showAll(false)" class="btn btn-info pull-right">Hide Players for All Entries</button>
</div>
<div class="row heading">
    <div class="col-xs-3">
        Entry Name
    </div>
    <div class="col-xs-9">
        <div class="col-xs-2">
            Points
        </div>
        <div class="col-xs-2">
            <span class="visible-md-block visible-lg-block">Points-C</span>
            <span class="visible-xs-block visible-sm-block">Pts-C</span>
        </div>
        <div class="col-xs-2">
            <span class="visible-md-block visible-lg-block">Points-W</span>
            <span class="visible-xs-block visible-sm-block">Pts-W</span>
        </div>
        <div class="col-xs-2">
            <span class="visible-md-block visible-lg-block">Points-D</span>
            <span class="visible-xs-block visible-sm-block">Pts-D</span>
        </div>
        <div class="col-xs-2">
            <span class="visible-md-block visible-lg-block">Points-G</span>
            <span class="visible-xs-block visible-sm-block">Pts-G</span>
        </div>
        <div class="col-xs-2">
            Total Goals
        </div>
    </div>
</div>
<uib-accordion close-others="false">
    <uib-accordion-group template-url="homepage/accordion-group.html" ng-repeat="entry in homeCtrl.entries" is-open="homeCtrl.isOpen[$index]">
        <uib-accordion-heading>
            <div class="row">
                <div class="col-xs-3">
                    {{$index+1}}. {{entry.name}}
                </div>
                <div class="col-xs-9">
                    <div class="col-xs-2" style="font-weight: bold">
                        0
                    </div>
                    <div class="col-xs-2">
                        0
                    </div>
                    <div class="col-xs-2">
                        0
                    </div>
                    <div class="col-xs-2">
                        0
                    </div>
                    <div class="col-xs-2">
                        0
                    </div>
                    <div class="col-xs-2">
                        0
                    </div>
                </div>
            </div>
        </uib-accordion-heading>
        <div class="container">
            <div ng-repeat="player in entry.players">
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                    <div class="row" style="font-weight: bold">
                        {{player.team.name}}
                    </div>
                    <div class="row">
                        {{player.first_name}} {{player.last_name}} ({{player.position | limitTo: 1}}) <span class="badge">0</span>
                    </div>
                </div>
            </div>
        </div>
    </uib-accordion-group>
</uib-accordion>