<mat-toolbar color="primary" class="mat-elevation-z4">
  <a class="nav-logo" routerLink="/">NHL Playoff Pool</a>
  <div class="right-align"></div>
  @if (currentPage !== '/' && settingsService.setting?.isPlayoffsStarted) {
    <a mat-button routerLink="/">Entries</a>
  }
  @if (currentPage !== '/player-stats' && settingsService.setting?.isPlayoffsStarted) {
    <a mat-button routerLink="/player-stats">Player Stats</a>
  }
  @if (currentUser) {
    <button mat-button type="button" [mat-menu-trigger-for]="menu">Admin</button>
  }
</mat-toolbar>
<mat-menu #menu="matMenu">
  <a mat-menu-item routerLink="/admin/teams">Teams</a>
  <a mat-menu-item routerLink="/admin/entries">Entries</a>
  <a mat-menu-item routerLink="/admin/settings">Settings</a>
  <a mat-menu-item routerLink="/rank-by-day">Rank by Day</a>
  <a mat-menu-item (click)="logout()">Logout</a>
</mat-menu>
