<mat-toolbar color="primary" class="mat-elevation-z4">
  <a class="nav-logo" routerLink="/">NHL Playoff Pool</a>
  <div class="right-align"></div>
  <a mat-button *ngIf="currentPage !== '/' && settingsService.setting?.isPlayoffsStarted" routerLink="/">Entries</a>
  <a
    mat-button
    *ngIf="currentPage !== '/player-stats' && settingsService.setting?.isPlayoffsStarted"
    routerLink="/player-stats">
    Player Stats
  </a>
  <button *ngIf="currentUser" mat-button [mat-menu-trigger-for]="menu">Admin</button>
</mat-toolbar>
<mat-menu #menu="matMenu">
  <a mat-menu-item routerLink="/admin/teams">Teams</a>
  <a mat-menu-item routerLink="/admin/entries">Entries</a>
  <a mat-menu-item routerLink="/admin/settings">Settings</a>
  <a mat-menu-item (click)="logout()">Logout</a>
</mat-menu>
