<mat-toolbar color="primary" class="mat-elevation-z4">
  <a class="nav-logo" routerLink="/">NHL Playoff Pool</a>
  <div class="right-align"></div>
  <a mat-button *ngIf="currentPage !== '/'" routerLink="/">Entries</a>
  <a mat-button *ngIf="currentPage !== '/player-stats'" routerLink="/player-stats">Player Stats</a>
  <div *ngIf="currentUser" fxShow="true" fxHide.xs>
    <a mat-button *ngIf="currentPage !== '/admin/teams'" routerLink="/admin/teams">Admin - Teams</a>
    <a mat-button *ngIf="currentPage !== '/admin/entries'" routerLink="/admin/entries">Admin - Entries</a>
    <a mat-button (click)="logout()">Logout</a>
  </div>
  <button *ngIf="currentUser" mat-button [mat-menu-trigger-for]="menu" fxHide="true" fxShow.xs>
    Admin
  </button>
</mat-toolbar>
<mat-menu #menu="matMenu">
  <a mat-menu-item *ngIf="currentPage !== '/admin/teams'" routerLink="/admin/teams">Admin - Teams</a>
  <a mat-menu-item *ngIf="currentPage !== '/admin/entries'" routerLink="/admin/entries">Admin - Entries</a>
  <a mat-menu-item (click)="logout()">Logout</a>
</mat-menu>
