<mat-spinner *ngIf="!settingForm"></mat-spinner>
<mat-card *ngIf="settingForm">
  <mat-card-title>Admin - Settings</mat-card-title>
  <display-errors [errors]="errors"></display-errors>
  <form [formGroup]="settingForm" (ngSubmit)="submitForm()">
    <mat-card-content>
      <mat-checkbox formControlName="isPlayoffsStarted" color="primary">Have Playoffs Started</mat-checkbox>
      <div class="settings-section-header">Number of each position per entry</div>
      <mat-form-field>
        <mat-label>Min C</mat-label>
        <input matInput type="number" formControlName="minCenters" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Max C</mat-label>
        <input matInput type="number" formControlName="maxCenters" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Min W</mat-label>
        <input matInput type="number" formControlName="minWingers" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Max W</mat-label>
        <input matInput type="number" formControlName="maxWingers" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Min D</mat-label>
        <input matInput type="number" formControlName="minDefensemen" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Max D</mat-label>
        <input matInput type="number" formControlName="maxDefensemen" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Min G</mat-label>
        <input matInput type="number" formControlName="minGoalies" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Max G</mat-label>
        <input matInput type="number" formControlName="maxGoalies" />
      </mat-form-field>
      <div class="settings-section-header">Number of points per stat</div>
      <mat-form-field>
        <mat-label>G</mat-label>
        <input matInput type="number" formControlName="pointsGoals" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>A</mat-label>
        <input matInput type="number" formControlName="pointsAssists" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>GWG</mat-label>
        <input matInput type="number" formControlName="pointsGwg" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>SHG</mat-label>
        <input matInput type="number" formControlName="pointsShg" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>OTG</mat-label>
        <input matInput type="number" formControlName="pointsOtg" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Win</mat-label>
        <input matInput type="number" formControlName="pointsWins" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>OTL</mat-label>
        <input matInput type="number" formControlName="pointsOtl" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>SO</mat-label>
        <input matInput type="number" formControlName="pointsShutouts" />
      </mat-form-field>
      <div class="settings-section-header">Number of additional points per stat in finals</div>
      <mat-form-field>
        <mat-label>G</mat-label>
        <input matInput type="number" formControlName="pointsFinalsGoals" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>A</mat-label>
        <input matInput type="number" formControlName="pointsFinalsAssists" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>GWG</mat-label>
        <input matInput type="number" formControlName="pointsFinalsGwg" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>SHG</mat-label>
        <input matInput type="number" formControlName="pointsFinalsShg" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>OTG</mat-label>
        <input matInput type="number" formControlName="pointsFinalsOtg" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Win</mat-label>
        <input matInput type="number" formControlName="pointsFinalsWins" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>OTL</mat-label>
        <input matInput type="number" formControlName="pointsFinalsOtl" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>SO</mat-label>
        <input matInput type="number" formControlName="pointsFinalsShutouts" />
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit" [disabled]="!settingForm.valid || updating">
        Update
      </button>
      <div class="form-submit-status">
        <mat-spinner class="form-spinner" *ngIf="updating" [diameter]="25"></mat-spinner>
        <mat-icon class="check-icon" *ngIf="updateSuccess">check</mat-icon>
        <mat-icon color="warn" *ngIf="updateFailure">clear</mat-icon>
      </div>
    </mat-card-actions>
  </form>
</mat-card>
