.mat-card {
  margin: 50px auto;
  text-align: center;
  width: 90%;
}

.see-rules-button {
  margin-bottom: 8px;
}

.positions {
  padding-bottom: 16px;
}

.position {
  padding: 0 4px;
}

.mat-form-field {
  width: 190px;
  padding-right: 16px;
}
