<h2 mat-dialog-title>Rules</h2>
<mat-dialog-content class="mat-typography">
  <ul>
    <li>Entries must be submitted by Saturday, May 15th 7pm ET</li>
    <li>After the entry submission deadline, if a player misses a game for any reason, they cannot be substituted</li>
    <li>Entry fee: $20 per entry</li>
    <li>Unlimited number of entries</li>
    <li>Payment can be sent through Venmo or in person to Al Kurek</li>
    <li>
      Payouts: 25% to 1st place, 15% to 2nd place, and remaining 60% will be determined based on the number of entries
    </li>
    <br />
    <li>Entries will consist of 16 players; 1 from each team</li>
    <li>16 players will be broken down into the following positions:</li>
    <ul>
      <li>{{ settingsService.setting.min_centers }} centers</li>
      <li>{{ settingsService.setting.min_wingers }} wingers</li>
      <li>{{ settingsService.setting.min_defensemen }} defensemen</li>
      <li>{{ settingsService.setting.min_goalies }} goalies</li>
      <li>1 flex center OR winger OR defenseman</li>
    </ul>
    <br />
    <li>Scoring:</li>
    <ul>
      <li>Goal: {{ settingsService.setting.points_goals }} points</li>
      <li>Assist: {{ settingsService.setting.points_assists }} point</li>
      <li>Game Winning Goal: {{ settingsService.setting.points_gwg }} point</li>
      <li>Overtime Goal: {{ settingsService.setting.points_otg }} points</li>
      <li>Short Handed Goal: {{ settingsService.setting.points_shg }} points</li>
      <li>Goalie Win: {{ settingsService.setting.points_wins }} points</li>
      <li>Goalie Overtime Loss: {{ settingsService.setting.points_otl }} point</li>
      <li>Goalie Shutout: {{ settingsService.setting.points_shutouts }} points</li>
    </ul>
    <li>Points in the Stanley Cup Final are doubled</li>
    <li>Points are updated on this website in real time every 10 minutes</li>
    <br />
    <li>Tiebreakers:</li>
    <ol>
      <li>Total Points</li>
      <li>Total Points from Centers</li>
      <li>Total Points from Wingers</li>
      <li>Total Points from Defensemen</li>
      <li>Total Points from Goalies</li>
      <li>Total Overall Goals</li>
      <li>Split Money</li>
    </ol>
  </ul>
  <p>
    Questions? Email Al Kurek at
    <a href="mailto:alankurek@yahoo.com">alankurek@yahoo.com</a>
    and Matt Witte at
    <a href="mailto:mcw9612@rit.edu">mcw9612@rit.edu</a>
  </p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
