<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button"
              class="navbar-toggle"
              (click)="isCollapsed = !isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="/">NHL Playoff Pool</a>
    </div>

    <div class="navbar-collapse" [@navCollapseState]="isCollapsed">
      <ul class="nav navbar-nav navbar-right">
        <li><a (click)="isCollapsed = true" routerLink="/">Entries</a></li>
        <li><a (click)="isCollapsed = true" routerLink="/playerstats">Player Stats</a></li>
        <li *showAuthed="true"><a (click)="isCollapsed = true" routerLink="/admin/teams">Admin - Teams</a></li>
        <li *showAuthed="true"><a (click)="isCollapsed = true" routerLink="/admin/entries">Admin - Entries</a></li>
        <li *showAuthed="true"><a (click)="logout()">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
