$gray: #eee;
$gray-border: rgb(0 0 0 / 12%);
$green: #008000;

.header {
  display: flex;
  margin: 16px;
}

.create-entry-button {
  margin-right: 16px;
}

.accordion-container {
  margin: 0 16px 16px;
}

.expansion-panel {
  border-color: $gray-border;
  border-radius: 0 !important;
  border-style: solid;
  border-width: 0 0 1px;
  box-shadow: none;
}

.expansion-panel-header {
  padding: 0 16px;

  &:hover {
    background: $gray !important;
  }
}

.expansion-panel-body {
  padding-top: 16px;
}

.player-input {
  width: 190px;
}

.mat-form-field {
  padding-right: 16px;
}

.primary-button {
  margin-bottom: 10px;
  top: -5px;
}

.form-submit-status {
  display: inline-flex;
  padding-left: 10px;
}

.form-spinner {
  display: inline-flex;
}

.check-icon {
  color: $green;
}
