<!DOCTYPE html>
<html>
<head>
    <title>NHL Playoff Pool</title>
    <meta name=viewport content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <base href="/">
</head>
<body ng-app="hockeyPool">

    <div ng-include="'nav/_nav.html'"></div>
    <div class="container">
        <div ui-view=""></div>
    </div>

</body>
</html>
